<odoo>
    <menuitem
        id="menu_asset_management_root"
        name="Manage equipment SSC"
        sequence="10" />

    <menuitem
        id="menu_assets_config"
        name="Configuration"
        groups="group_asset_manager"
        sequence="100"
        parent="menu_asset_management_root" />
</odoo>