<odoo>
    <menuitem
        id="menu_asset_management_root"
        name="Beheer apparatuur"
        sequence="10" />

    <menuitem
        id="menu_assets_config"
        name="Configuratie"
        groups="group_asset_manager"
        sequence="100"
        parent="menu_asset_management_root" />
</odoo>